<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>Total Count in DB <%= count %></h2>
    <form method="get" action="/newUser">
      <button>add new</button>
    </form>
  </body>
</html>
